body{
    width: 1440px;
    height: 1024px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 20% 20% 20% 20%;
    gap: 10px;
    background-image: url(bättre.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 560px 1068px;
    
}
header{
    grid-column: 1/4;
    grid-row: 1;
}
main{
    grid-column: 1/4;
    grid-row: 2/5;
}
h3{
    text-align: center;
}